*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
  height: 100%;
  border-radius: .2rem;
  display: block;
}

/* app.js */
.app-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}

/* product.js */
.product-wrapper{
  flex: 3;
  display: flex;
  flex-wrap: wrap;
}

.product-single{
  padding: .5rem;
  border-radius: .2rem;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: .2rem; */
  margin: .2rem;
  border: 1px solid rgb(140, 139, 139);
}

.product-single img{
  width: 100%;
  height: 100%;
}

.product-single .price-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: .2rem;
  margin-top: .2rem;
}

.btn-container{
  width: 100%;
}

.btn{
  margin-bottom: .2rem;
  margin-top: .2rem;
  padding: .3rem;
  display: block;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
}

.danger{
  color: white;
  width: 100%;
  background-color: red;
}

.green{
  width: 100%;
  color: white;
  background-color: green;
}

/* cart.js */
.cart-wrapper{
  flex: 1;
  background-color: lightgray;
  border-radius: .2rem;
  text-align: center;
  padding: .2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cart-wrapper h1{
  text-align: center;
  margin-top: .7rem;
  margin-bottom: .7rem;
  width: 100%;
}

.cart-single{
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  padding: .3rem;
  border-radius: .2rem;
  gap: .3rem;
  margin-top: .5rem;
  background-color: white;
  margin-bottom: .4rem;
}

.cart-single-title{
  align-self: start;
  padding: .4rem;
  justify-self: start;
}

.cart-qty{
  justify-self: end;
}